.DS_Store
*.py[cod]
__pycache__/
.cache/
dist/
build/
kindel.egg-info/
vespa_slim.egg-info/
.pytest_cache/
tests/data/codeml/
tests/data/codeml-*
tests/data/gene-trees/
tests/data/gene-trees-*
tests/data/ali/
bin/
froglets/
ptw.sh
