.DS_Store
*.py[cod]
__pycache__/
.cache/
dist/
build/
vespasian.egg-info/
.pytest_cache/
tests/data/codeml/
tests/data/codeml-*
tests/data/gene-trees/
tests/data/gene-trees-*
tests/data/ali/
tests/data/peter/codeml/
tests/data/peter/codeml/*
tests/data/peter/gene-trees/
bin/
froglets/
ptw.sh
